@charset "utf-8";
.mainContainer{background:url("../../images/bg/bg_main.jpg") no-repeat center 0;}
.mainContents{width:1100px;padding-bottom:50px;margin:0 auto;}
.mainContents .videoSection{padding-top:30px;}
.mainContents .videoSection:after{content:"";display:block;clear:both;}
.mainContents .videoContents{position:relative;width:1000px;float:left;}
.mainContents .videoContents .video{height:565px;border:1px solid #545045;border-bottom:0;background:#000;}
.mainContents .videoContents .video img{width:100%;vertical-align:top;}
.mainContents .btnwrap{position:relative;width:98px;float:left;}
.mainContents .btnwrap a{position:absolute;left:0;width:100%;display:block;}
.mainContents .btnwrap .btnWeek{height:138px;background:url("../../images/btn/btn_thisweek.png") no-repeat 0 0;top:0;z-index:8;}
.mainContents .btnwrap .btnClick{height:178px;background:url("../../images/btn/btn_clickevent.png") no-repeat 0 0;margin-top:-15px;top:138px;z-index:5;}

.subContents .videoSection:after{content:"";display:block;clear:both;}
.subContents .videoContents{position:relative;width:800px;}
.subContents .videoContents .video{height:450px;border:1px solid #d7d7d7;border-bottom:0;background:#000;}
.subContents .videoContents .video img{width:100%;vertical-align:top;}

.searchArea01{height:50px;background:url("../../images/bg/bg_searcharea.png") no-repeat 0 0;}
.searchArea01 ul{padding:10px 0 0 20px;}
.searchArea01 ul:after{content:"";display:block;clear:both;}
.searchArea01 ul li{float:left;margin-left:17px;}
.searchArea01 ul li:first-child{margin-left:0;}

.radioCheck{padding-top:5px;color:#fff;}
.radioCheck.sub{padding-top:5px;color:#464646;}
.radioCheck *{vertical-align:middle}
.radioCheck span{display:inline-block;}
.radioCheck span:first-child{margin-right:20px;}

.searchBox01{position:relative;width:566px;height:27px;padding:0 34px 0 9px;background:url("../../images/bg/bg_search_input.png") no-repeat 0 0;}
.searchBox01 input[type="text"]{width:100%;padding:2px 0;height:21px;border:0;background:transparent;font-family:"nanum"}
.searchBox01 .searchBtn{position:absolute;right:0;top:0;width:34px;height:27px;background:url("../../images/btn/btn_search.png") no-repeat 0 0;}

.searchBox02{position:relative;width:536px;height:27px;padding:0 33px 0 9px;background:url("../../images/bg/bg_search_input_sub.png") no-repeat 0 0;}
.searchBox02 input[type="text"]{width:100%;padding:2px 0;height:20px;border:0;background:transparent;font-family:"nanum"}
.searchBox02 .searchBtn{position:absolute;right:0;top:0;width:33px;height:25px;background:url("../../images/btn/btn_search02.png") no-repeat 0 0;}

.bestClick{padding-top:44px;}
.bestClick .title{padding-left:72px;background:url("../../images/icon/ico_best.png") no-repeat 0 center;font-size:16px;font-family:"nanumbd";font-weight:normal;line-height:1.6em;}
.bestClick .listArea{margin-top:14px;}
.bestClick .listArea:after{content:"";display:block;clear:both;}
.bestClick ul{float:left;}
.bestClick ul:after{content:"";display:block;clear:both;}
.bestClick ul li{float:left;margin-left:25px;}
.bestClick ul li:first-child{margin-left:0;}
.bestClick ul li a{width:250px;display:block;}
.bestClick ul li a img{width:250px;vertical-align:top;}
.bestClick ul li a span{padding-top:14px;text-align:center;display:block;font-family:"nanumbd";font-size:15px;}
.bestClick .ad{width:245px;height:166px;float:left;margin-left:46px;}

.hiddenContent{position:absolute;left:0;top:0;width:100%;}
.weekBox{width:994px;height:610px;border:3px solid #eb6252;border-radius:0 0 5px 5px;background:#2f2f2f;display:none;}
.weekBox .plate{padding:0 37px 0 37px;}
.weekBox ul li{border-top:1px solid #212121;}
.weekBox ul li:first-child{border-top:0;}
.weekBox ul li > div{padding:45px 0;border-top:1px solid #3a3a3a;}
.weekBox ul li:first-child > div{border-top:0;}
.weekBox .day,
.weekBox .info,
.weekBox .default{display:inline-block;}
.weekBox .day{position:relative;width:244px;color:#fff;font-size:28px;}
.weekBox .day i{width:56px;height:31px;display:inline-block;background:url("../../images/icon/ico_today.png") no-repeat 0 0;}
.weekBox .default{color:#a1a1a1;}
.weekBox .default,
.weekBox .info{font-size:20px;width:636px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
.weekBox .default .date,
.weekBox .info .date{padding-right:36px;l}
.weekBox ul li.active .info,
.weekBox ul li.active .info a{color:#ffd300;}
.weekBox .info,
.weekBox .info a{color:#fff;padding-bottom:2px;}
.weekBox .info a:hover{text-decoration:underline;}

.clickBox{width:994px;height:610px;overflow:hidden;overflow-y:auto;border:3px solid #09a29b;border-radius:0 0 5px 5px;background:#f3f2f1;display:none;}
.clickBox .plate{padding:0 37px 0 37px;}